<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Created by:</div>
      <div class="text-center">
        <h3>Herbert Tejada</h3>
      </div>

      <div class="text-center">@hvts83</div>
      <div class="text-center">
        <a href="http://www.hvts.xyz">www.hvts.xyz</a>
      </div>
    </div>
  </div>
</div>